{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register - SecureBank{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0"><i class="fas fa-user-plus me-2"></i>Create a New Account</h3>
            </div>
            <div class="card-body p-4">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                            {{ form.full_name|as_crispy_field }}
                            {{ form.phone_number|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}
                            <div class="alert alert-info mt-3">
                                <h6><i class="fas fa-info-circle me-2"></i>Important Information:</h6>
                                <ul class="mb-0">
                                    <li>All new accounts start with a balance of $1000</li>
                                    <li>A default PIN will be created for your account</li>
                                    <li>You'll need to verify your email address</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-user-plus me-2"></i>Register
                        </button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p>Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
